<!DOCTYPE html>

<head> 
    <title>pseudoDC: a copy of DCInside</title>
    <meta charset="utf-8">
</head>
<body>
    {%if BlogPostList%}
        <ul class="PostListing">
        {%for blogpost in BlogPostList%}
            {%if not blogpost.private%}
                <li><a href={%url 'board:read' blogpost.pk %}>{{blogpost.subject}}</a></li>
            {%endif%}
        {%endfor%}
    {%else%}
    <p>No posts at all!</p>
    {%endif%}
    <a href={%url 'board:write'%}><button>Write something New</button></a>
</body>